<h1>{{title}}</h1>
<p> TE DAMOS LA BIENVENIDA  {{title}}</p>
<a href="/pacientes">Listar pacientes</a>
<a href="/medicos">Listar medicos</a>
<a href="/cita_medica">Listar cita_medica</a>
<a href="/citas">Solicitar cita</a>